body{
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
}
html{
}
.mint-swipe-indicators{
  bottom: 0 ;
}
.mint-swipe-indicator.is-active{
  width: 16px;
  border-radius: 5px;
  background-color: blue ;

}