body{
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
}
h1{
  padding: 0 !important;
  margin: 0 !important;
}
html{
  min-width: 320px;
}
html::-webkit-scrollbar {display:none}
.mint-swipe-indicators{
  bottom: 0 ;
  .mint-swipe-indicator{
    opacity: 0.5 !important;
  }
}
.mint-swipe-indicator.is-active{
  width: 16px;
  border-radius: 5px;
  background-color: blue ;
  opacity: 0.7 !important;
}
.vue-directive-image-previewer{
  z-index: 99999999999999999999 !important;
}
.vue-directive-image-previewer-img{
  left: 0 !important;
  width: 100% !important;
  height: auto !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}